<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gewen_attack1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,1.5}</string>
                <key>spriteSize</key>
                <string>{126,277}</string>
                <key>spriteSourceSize</key>
                <string>{280,280}</string>
                <key>textureRect</key>
                <string>{{279,215},{126,277}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>8 9 10 7 0 5 0 8 10 5 6 7 2 3 4 1 2 4 0 1 4 0 4 5 7 8 0</string>
                <key>vertices</key>
                <string>165 120 198 167 159 277 148 275 169 200 124 202 113 233 72 109 129 80 147 0 165 0</string>
                <key>verticesUV</key>
                <string>372 335 405 382 366 492 355 490 376 415 331 417 320 448 279 324 336 295 354 215 372 215</string>
            </dict>
            <key>gewen_attack2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20.5,9.5}</string>
                <key>spriteSize</key>
                <string>{151,233}</string>
                <key>spriteSourceSize</key>
                <string>{280,280}</string>
                <key>textureRect</key>
                <string>{{453,115},{151,233}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>9 10 11 3 4 9 6 7 8 4 6 8 3 9 11 4 5 6 4 8 9 0 3 11 0 1 2 0 2 3 0 11 12</string>
                <key>vertices</key>
                <string>124 56 135 40 156 55 126 95 151 119 195 209 166 238 115 247 67 199 44 153 44 93 89 90 89 14</string>
                <key>verticesUV</key>
                <string>533 157 544 141 565 156 535 196 560 220 604 310 575 339 524 348 476 300 453 254 453 194 498 191 498 115</string>
            </dict>
            <key>gewen_attack3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11.5,-1.5}</string>
                <key>spriteSize</key>
                <string>{169,233}</string>
                <key>spriteSourceSize</key>
                <string>{280,280}</string>
                <key>textureRect</key>
                <string>{{324,1},{169,233}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>9 11 12 9 10 11 6 9 12 8 6 7 8 9 6 0 12 13 4 5 6 3 4 6 1 2 3 12 1 3 12 3 6 0 1 12</string>
                <key>vertices</key>
                <string>204 51 171 100 213 143 188 156 179 211 103 258 94 201 44 183 44 145 105 102 44 29 79 44 131 98 204 25</string>
                <key>verticesUV</key>
                <string>484 27 451 76 493 119 468 132 459 187 383 234 374 177 324 159 324 121 385 78 324 5 359 20 411 74 484 1</string>
            </dict>
            <key>gewen_attack4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19.5,23}</string>
                <key>spriteSize</key>
                <string>{189,230}</string>
                <key>spriteSourceSize</key>
                <string>{280,280}</string>
                <key>textureRect</key>
                <string>{{1,263},{189,230}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>16 17 18 14 15 16 13 14 16 10 12 13 16 1 2 1 16 18 10 11 12 7 8 9 7 9 10 4 5 6 4 6 7 2 3 4 2 4 7 16 7 10 10 13 16 16 2 7 0 1 18 0 18 19</string>
                <key>vertices</key>
                <string>81 19 106 78 134 94 166 4 183 61 209 39 215 57 165 118 210 118 210 147 172 162 197 188 184 232 121 230 26 169 52 123 107 118 26 50 80 50 56 2</string>
                <key>verticesUV</key>
                <string>56 280 81 339 109 355 141 265 158 322 184 300 190 318 140 379 185 379 185 408 147 423 172 449 159 493 96 491 1 430 27 384 82 379 1 311 55 311 31 263</string>
            </dict>
            <key>gewen_attack5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11.5,-8}</string>
                <key>spriteSize</key>
                <string>{217,262}</string>
                <key>spriteSourceSize</key>
                <string>{280,280}</string>
                <key>textureRect</key>
                <string>{{1,1},{217,262}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>15 17 18 15 16 17 1 15 18 12 14 15 12 13 14 10 11 12 7 9 10 12 1 3 1 12 15 7 8 9 4 5 6 4 6 7 3 4 7 12 3 7 1 2 3 7 10 12 0 1 18 0 18 19</string>
                <key>vertices</key>
                <string>131 24 152 137 230 72 204 166 212 172 260 144 248 180 213 224 242 229 187 279 133 278 93 260 104 242 43 219 44 188 86 149 43 92 73 93 126 131 118 17</string>
                <key>verticesUV</key>
                <string>89 8 110 121 188 56 162 150 170 156 218 128 206 164 171 208 200 213 145 263 91 262 51 244 62 226 1 203 2 172 44 133 1 76 31 77 84 115 76 1</string>
            </dict>
            <key>gewen_attack6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,4}</string>
                <key>spriteSize</key>
                <string>{150,266}</string>
                <key>spriteSourceSize</key>
                <string>{280,280}</string>
                <key>textureRect</key>
                <string>{{171,289},{150,266}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>11 13 14 11 12 13 1 11 14 4 9 10 10 1 2 6 7 8 4 8 9 4 5 6 8 4 6 2 3 4 10 2 4 1 10 11 0 1 14</string>
                <key>vertices</key>
                <string>169 15 148 85 153 108 207 167 157 186 182 261 127 269 79 257 101 218 57 174 113 112 114 77 81 38 101 8 139 3</string>
                <key>verticesUV</key>
                <string>283 301 262 371 267 394 321 453 271 472 296 547 241 555 193 543 215 504 171 460 227 398 228 363 195 324 215 294 253 289</string>
            </dict>
            <key>gewen_attack7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-26.5,4}</string>
                <key>spriteSize</key>
                <string>{137,292}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{196,1},{137,292}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>10 11 12 0 10 12 3 8 9 9 10 0 3 7 8 3 4 5 3 5 6 1 2 3 0 1 3 9 0 3 7 3 6</string>
                <key>vertices</key>
                <string>143 129 179 156 192 184 162 206 188 245 159 285 130 292 76 266 55 183 102 131 110 101 110 2 147 0</string>
                <key>verticesUV</key>
                <string>284 130 320 157 333 185 303 207 329 246 300 286 271 293 217 267 196 184 243 132 251 102 251 3 288 1</string>
            </dict>
            <key>gewen_attack8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21.5,8}</string>
                <key>spriteSize</key>
                <string>{141,258}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{390,239},{141,258}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>8 9 10 6 7 8 3 6 8 8 10 1 3 4 5 3 5 6 1 2 3 8 1 3 0 1 10 0 10 11</string>
                <key>vertices</key>
                <string>131 61 140 119 187 166 164 173 199 243 181 267 123 271 58 206 104 172 66 141 108 112 112 13</string>
                <key>verticesUV</key>
                <string>463 287 472 345 519 392 496 399 531 469 513 493 455 497 390 432 436 398 398 367 440 338 444 239</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>gewen_attack.png</string>
            <key>size</key>
            <string>{605,556}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d511c2b8cb9c27cc45eb5a0b76ad6a8c:3eb446c2a213bb8bd3e7fd0c36914a93:d0cabe29a4a52757ab9fcf36097ca160$</string>
            <key>textureFileName</key>
            <string>gewen_attack.png</string>
        </dict>
    </dict>
</plist>
