<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lakesi_attack1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,6.5}</string>
                <key>spriteSize</key>
                <string>{92,137}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{478,144},{92,137}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 6 7 4 0 2 4 5 0 0 1 2 4 2 3 0 5 6</string>
                <key>vertices</key>
                <string>158 121 190 122 195 193 176 212 135 212 104 150 103 86 138 75</string>
                <key>verticesUV</key>
                <string>533 190 565 191 570 262 551 281 510 281 479 219 478 155 513 144</string>
            </dict>
            <key>lakesi_attack2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,10}</string>
                <key>spriteSize</key>
                <string>{120,142}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{209,132},{120,142}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 7 8 3 4 5 5 6 0 1 2 3 0 1 3 0 6 7 3 5 0</string>
                <key>vertices</key>
                <string>151 148 198 149 208 173 179 178 179 210 112 211 90 165 88 104 115 69</string>
                <key>verticesUV</key>
                <string>272 211 319 212 329 236 300 241 300 273 233 274 211 228 209 167 236 132</string>
            </dict>
            <key>lakesi_attack3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,12}</string>
                <key>spriteSize</key>
                <string>{136,150}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{305,111},{136,150}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 5 6 0 3 4 0 1 2 0 2 3 0 4 5</string>
                <key>vertices</key>
                <string>148 154 206 167 183 213 114 207 90 168 70 107 101 63</string>
                <key>verticesUV</key>
                <string>383 202 441 215 418 261 349 255 325 216 305 155 336 111</string>
            </dict>
            <key>lakesi_attack4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,1}</string>
                <key>spriteSize</key>
                <string>{130,156}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{425,1},{130,156}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>3 5 6 7 0 3 3 4 5 3 6 7 0 1 2 0 2 3 0 7 8</string>
                <key>vertices</key>
                <string>143 134 189 118 196 147 153 161 195 216 144 210 109 227 66 119 70 71</string>
                <key>verticesUV</key>
                <string>502 64 548 48 555 77 512 91 554 146 503 140 468 157 425 49 429 1</string>
            </dict>
            <key>lakesi_attack5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22.5,11}</string>
                <key>spriteSize</key>
                <string>{127,224}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{1,1},{127,224}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>2 5 6 2 3 4 2 4 5 1 2 6 0 1 6 0 6 7</string>
                <key>vertices</key>
                <string>144 47 169 150 155 167 191 200 123 251 64 112 131 106 122 27</string>
                <key>verticesUV</key>
                <string>81 21 106 124 92 141 128 174 60 225 1 86 68 80 59 1</string>
            </dict>
            <key>lakesi_attack6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6.5,-12}</string>
                <key>spriteSize</key>
                <string>{119,220}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{99,1},{119,220}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>4 5 6 0 2 3 0 4 6 0 1 2 0 3 4</string>
                <key>vertices</key>
                <string>174 171 203 203 149 272 84 134 137 99 137 52 154 52</string>
                <key>verticesUV</key>
                <string>189 120 218 152 164 221 99 83 152 48 152 1 169 1</string>
            </dict>
            <key>lakesi_attack7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-1.5}</string>
                <key>spriteSize</key>
                <string>{86,181}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{532,26},{86,181}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>5 6 7 4 5 7 0 1 7 2 3 4 1 2 4 1 4 7 0 7 8</string>
                <key>vertices</key>
                <string>176 70 185 146 182 241 158 242 124 174 99 148 99 127 118 128 151 61</string>
                <key>verticesUV</key>
                <string>609 35 618 111 615 206 591 207 557 139 532 113 532 92 551 93 584 26</string>
            </dict>
            <key>lakesi_attack8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16.5,5}</string>
                <key>spriteSize</key>
                <string>{137,190}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{189,1},{137,190}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>3 4 5 0 1 2 0 2 3 0 3 5 0 5 6</string>
                <key>vertices</key>
                <string>202 161 159 240 127 208 109 165 65 151 106 129 120 50</string>
                <key>verticesUV</key>
                <string>326 112 283 191 251 159 233 116 189 102 230 80 244 1</string>
            </dict>
            <key>lakesi_attack9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-5}</string>
                <key>spriteSize</key>
                <string>{118,180}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{319,1},{118,180}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 6 7 1 4 5 1 2 3 1 3 4 0 1 5 0 5 6</string>
                <key>vertices</key>
                <string>140 86 173 149 207 149 207 181 146 245 108 172 89 162 113 65</string>
                <key>verticesUV</key>
                <string>370 22 403 85 437 85 437 117 376 181 338 108 319 98 343 1</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>lakesi_attack.png</string>
            <key>size</key>
            <string>{619,282}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:23415df92c9d87904066fac09f327095:76c4613bed1986d3ff58a2e638ab9b13:d3ef7dfe7701a86be3dbf22c7d0cb8a6$</string>
            <key>textureFileName</key>
            <string>lakesi_attack.png</string>
        </dict>
    </dict>
</plist>
