<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lienata_attack_down1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,5.5}</string>
                <key>spriteSize</key>
                <string>{162,253}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{124,601},{162,253}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 8 9 1 7 8 6 2 5 3 4 5 2 3 5 6 1 2 1 6 7 0 1 9</string>
                <key>vertices</key>
                <string>154 50 132 85 178 132 229 244 128 271 127 186 82 144 67 90 67 41 122 18</string>
                <key>verticesUV</key>
                <string>211 633 189 668 235 715 286 827 185 854 184 769 139 727 124 673 124 624 179 601</string>
            </dict>
            <key>lienata_attack_down10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-7}</string>
                <key>spriteSize</key>
                <string>{212,236}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{72,268},{212,236}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>9 10 11 1 8 9 3 5 7 5 6 7 3 4 5 8 1 2 2 3 7 2 7 8 0 1 9 0 9 11</string>
                <key>vertices</key>
                <string>148 77 149 121 183 134 235 220 247 275 184 254 127 271 127 204 139 151 73 115 35 115 95 39</string>
                <key>verticesUV</key>
                <string>185 306 186 350 220 363 272 449 284 504 221 483 164 500 164 433 176 380 110 344 72 344 132 268</string>
            </dict>
            <key>lienata_attack_down2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2.5,-1}</string>
                <key>spriteSize</key>
                <string>{175,256}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{183,488},{175,256}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>11 12 13 11 3 10 0 2 11 5 8 9 5 7 8 5 6 7 5 9 10 4 5 10 3 4 10 11 2 3 0 1 2 0 13 14 0 11 13</string>
                <key>vertices</key>
                <string>120 73 158 46 139 104 180 148 199 199 191 225 240 225 224 257 180 279 133 279 132 210 80 140 65 51 91 55 111 23</string>
                <key>verticesUV</key>
                <string>238 538 276 511 257 569 298 613 317 664 309 690 358 690 342 722 298 744 251 744 250 675 198 605 183 516 209 520 229 488</string>
            </dict>
            <key>lienata_attack_down3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,14.5}</string>
                <key>spriteSize</key>
                <string>{176,271}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{279,1},{176,271}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>10 11 12 10 2 9 0 2 10 7 8 9 5 6 7 4 5 7 3 4 7 3 7 9 2 3 9 0 10 12 0 1 2 0 12 13</string>
                <key>vertices</key>
                <string>128 46 157 18 138 98 160 130 204 174 241 254 125 271 122 207 108 182 117 147 86 116 65 34 92 33 99 0</string>
                <key>verticesUV</key>
                <string>342 47 371 19 352 99 374 131 418 175 455 255 339 272 336 208 322 183 331 148 300 117 279 35 306 34 313 1</string>
            </dict>
            <key>lienata_attack_down4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,8}</string>
                <key>spriteSize</key>
                <string>{170,272}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{1,340},{170,272}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>12 0 2 12 13 0 3 8 10 8 9 10 3 6 8 6 7 8 11 2 3 3 4 5 3 5 6 3 10 11 0 1 2 0 13 14 12 2 11</string>
                <key>vertices</key>
                <string>117 57 161 13 138 81 192 202 234 254 211 277 165 265 119 278 117 212 93 225 123 171 117 133 88 132 64 50 104 6</string>
                <key>verticesUV</key>
                <string>54 391 98 347 75 415 129 536 171 588 148 611 102 599 56 612 54 546 30 559 60 505 54 467 25 466 1 384 41 340</string>
            </dict>
            <key>lienata_attack_down5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,12.5}</string>
                <key>spriteSize</key>
                <string>{170,247}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{9,600},{170,247}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>10 0 2 10 2 9 7 4 5 4 7 8 3 4 8 7 5 6 9 2 3 3 8 9 0 10 11 0 1 2 0 11 12</string>
                <key>vertices</key>
                <string>109 46 129 18 129 86 161 135 182 184 215 217 215 258 117 261 116 151 109 128 82 130 45 41 74 14</string>
                <key>verticesUV</key>
                <string>73 632 93 604 93 672 125 721 146 770 179 803 179 844 81 847 80 737 73 714 46 716 9 627 38 600</string>
            </dict>
            <key>lienata_attack_down6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8.5,-7}</string>
                <key>spriteSize</key>
                <string>{177,278}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{118,76},{177,278}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>9 10 11 7 9 11 7 8 9 0 11 12 7 11 0 7 0 6 2 3 4 1 2 4 6 1 4 6 0 1 6 4 5</string>
                <key>vertices</key>
                <string>146 142 171 163 230 257 217 296 182 281 124 290 121 162 92 155 53 68 76 63 71 30 115 58 145 18</string>
                <key>verticesUV</key>
                <string>211 200 236 221 295 315 282 354 247 339 189 348 186 220 157 213 118 126 141 121 136 88 180 116 210 76</string>
            </dict>
            <key>lienata_attack_down7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,5}</string>
                <key>spriteSize</key>
                <string>{178,280}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{1,1},{178,280}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>11 2 10 0 11 12 2 9 10 7 8 9 4 7 9 5 6 7 4 5 7 9 2 3 9 3 4 11 0 2 0 1 2 0 12 13</string>
                <key>vertices</key>
                <string>130 56 147 33 151 98 192 158 198 197 243 244 243 268 160 269 141 285 130 165 117 126 93 115 65 50 88 5</string>
                <key>verticesUV</key>
                <string>66 52 83 29 87 94 128 154 134 193 179 240 179 264 96 265 77 281 66 161 53 122 29 111 1 46 24 1</string>
            </dict>
            <key>lienata_attack_down8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-2.5}</string>
                <key>spriteSize</key>
                <string>{168,273}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{277,414},{168,273}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>2 11 12 2 12 13 5 7 8 8 9 10 5 8 10 5 6 7 4 5 10 11 3 4 4 10 11 2 3 11 0 2 13 0 1 2 0 13 14</string>
                <key>vertices</key>
                <string>112 50 133 29 133 110 148 140 202 192 191 234 224 240 224 288 154 282 120 289 117 215 124 158 80 136 56 61 74 16</string>
                <key>verticesUV</key>
                <string>333 448 354 427 354 508 369 538 423 590 412 632 445 638 445 686 375 680 341 687 338 613 345 556 301 534 277 459 295 414</string>
            </dict>
            <key>lienata_attack_down9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10.5,-6}</string>
                <key>spriteSize</key>
                <string>{177,276}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{234,137},{177,276}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>2 13 14 3 12 13 6 9 11 9 10 11 12 3 4 7 8 9 6 7 9 12 5 6 12 4 5 6 11 12 2 3 13 0 2 14 0 1 2 0 14 15</string>
                <key>vertices</key>
                <string>95 32 143 40 121 78 127 138 176 169 189 198 180 223 228 246 213 290 164 277 115 294 107 226 120 174 75 133 51 55 75 18</string>
                <key>verticesUV</key>
                <string>278 151 326 159 304 197 310 257 359 288 372 317 363 342 411 365 396 409 347 396 298 413 290 345 303 293 258 252 234 174 258 137</string>
            </dict>
            <key>lienata_death1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,10}</string>
                <key>spriteSize</key>
                <string>{102,146}</string>
                <key>spriteSourceSize</key>
                <string>{370,500}</string>
                <key>textureRect</key>
                <string>{{1,827},{102,146}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 1 5 3 1 2 3 4 1 1 4 5 0 5 6</string>
                <key>vertices</key>
                <string>225 192 225 246 243 312 160 313 141 286 141 205 178 167</string>
                <key>verticesUV</key>
                <string>85 852 85 906 103 972 20 973 1 946 1 865 38 827</string>
            </dict>
            <key>lienata_death2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{30,-23}</string>
                <key>spriteSize</key>
                <string>{122,162}</string>
                <key>spriteSourceSize</key>
                <string>{370,500}</string>
                <key>textureRect</key>
                <string>{{279,808},{122,162}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>5 6 7 1 5 7 3 1 2 3 4 1 1 4 5 0 1 7</string>
                <key>vertices</key>
                <string>276 280 231 313 220 346 186 354 154 289 154 227 176 194 206 192</string>
                <key>verticesUV</key>
                <string>401 896 356 929 345 962 311 970 279 905 279 843 301 810 331 808</string>
            </dict>
            <key>lienata_death3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5.5,-12}</string>
                <key>spriteSize</key>
                <string>{157,226}</string>
                <key>spriteSourceSize</key>
                <string>{370,500}</string>
                <key>textureRect</key>
                <string>{{294,683},{157,226}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>7 9 10 7 8 9 0 6 7 3 4 5 3 5 6 1 2 3 6 0 1 1 3 6 0 7 10</string>
                <key>vertices</key>
                <string>239 241 269 264 269 339 241 334 239 375 207 343 219 291 157 261 112 260 128 228 198 149</string>
                <key>verticesUV</key>
                <string>421 775 451 798 451 873 423 868 421 909 389 877 401 825 339 795 294 794 310 762 380 683</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>lienata_other.png</string>
            <key>size</key>
            <string>{456,974}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4b5f9e48ae0775fd5c3369b5a40e0481:2b14abf612982b006b035e2cd53a1f6c:7af77e1822cc8a72ecd760702a882cd5$</string>
            <key>textureFileName</key>
            <string>lienata_other.png</string>
        </dict>
    </dict>
</plist>
