<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>niutou_attack_down1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{244,191}</string>
                <key>spriteSourceSize</key>
                <string>{244,191}</string>
                <key>textureRect</key>
                <string>{{224,1052},{244,191}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>7 13 14 11 12 13 7 11 13 10 11 7 7 8 9 7 9 10 4 6 7 4 5 6 1 4 7 4 1 2 4 2 3 1 7 14 0 1 14</string>
                <key>vertices</key>
                <string>190 14 218 70 244 97 244 153 190 167 170 191 160 191 98 168 77 189 48 183 0 126 0 84 11 10 72 0 146 0</string>
                <key>verticesUV</key>
                <string>414 1066 442 1122 468 1149 468 1205 414 1219 394 1243 384 1243 322 1220 301 1241 272 1235 224 1178 224 1136 235 1062 296 1052 370 1052</string>
            </dict>
            <key>niutou_attack_down2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{252,200}</string>
                <key>spriteSourceSize</key>
                <string>{252,200}</string>
                <key>textureRect</key>
                <string>{{258,850},{252,200}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>4 10 11 8 9 10 4 8 10 7 8 4 4 5 6 4 6 7 0 3 4 3 0 1 3 1 2 0 4 11</string>
                <key>vertices</key>
                <string>194 21 252 108 252 135 192 179 101 173 82 200 37 200 0 163 0 100 56 1 105 0 155 0</string>
                <key>verticesUV</key>
                <string>452 871 510 958 510 985 450 1029 359 1023 340 1050 295 1050 258 1013 258 950 314 851 363 850 413 850</string>
            </dict>
            <key>niutou_attack_down3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{255,199}</string>
                <key>spriteSourceSize</key>
                <string>{255,199}</string>
                <key>textureRect</key>
                <string>{{1,785},{255,199}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 17 18 14 15 16 13 14 16 1 16 17 11 6 9 12 6 11 12 13 6 9 10 11 6 16 1 7 8 9 6 7 9 1 4 5 2 3 4 1 2 4 1 5 6 13 16 6 0 1 17</string>
                <key>vertices</key>
                <string>208 29 189 63 255 79 255 104 214 108 195 164 97 166 63 199 20 199 30 172 0 156 0 132 11 70 47 42 62 7 74 1 112 13 134 0 208 0</string>
                <key>verticesUV</key>
                <string>209 814 190 848 256 864 256 889 215 893 196 949 98 951 64 984 21 984 31 957 1 941 1 917 12 855 48 827 63 792 75 786 113 798 135 785 209 785</string>
            </dict>
            <key>niutou_attack_down4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{261,187}</string>
                <key>spriteSourceSize</key>
                <string>{261,187}</string>
                <key>textureRect</key>
                <string>{{5,951},{261,187}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 22 23 21 0 1 15 19 20 1 20 21 18 16 17 18 15 16 15 18 19 15 2 14 10 13 14 2 20 1 13 10 11 2 7 8 2 6 7 2 8 9 6 2 3 4 5 6 2 9 10 6 3 4 15 20 2 14 2 10 13 11 12 21 22 0</string>
                <key>vertices</key>
                <string>212 29 170 60 160 92 203 71 261 75 261 100 219 112 219 154 186 187 156 187 99 161 63 185 23 186 35 155 81 121 70 106 30 141 0 141 0 109 95 14 132 31 157 8 192 0 228 0</string>
                <key>verticesUV</key>
                <string>217 980 175 1011 165 1043 208 1022 266 1026 266 1051 224 1063 224 1105 191 1138 161 1138 104 1112 68 1136 28 1137 40 1106 86 1072 75 1057 35 1092 5 1092 5 1060 100 965 137 982 162 959 197 951 233 951</string>
            </dict>
            <key>niutou_attack_down5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{262,205}</string>
                <key>spriteSourceSize</key>
                <string>{262,205}</string>
                <key>textureRect</key>
                <string>{{1,578},{262,205}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 17 18 8 15 16 13 14 10 13 10 12 14 15 10 10 11 12 16 0 1 10 8 9 8 10 15 8 1 7 5 6 7 2 4 5 2 3 4 1 2 5 1 5 7 8 16 1 16 17 0</string>
                <key>vertices</key>
                <string>214 47 162 115 208 114 262 92 262 129 193 166 176 205 105 205 82 165 40 194 34 147 0 129 0 102 24 51 54 35 104 38 135 52 188 0 210 0</string>
                <key>verticesUV</key>
                <string>215 625 163 693 209 692 263 670 263 707 194 744 177 783 106 783 83 743 41 772 35 725 1 707 1 680 25 629 55 613 105 616 136 630 189 578 211 578</string>
            </dict>
            <key>niutou_attack_down6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{247,232}</string>
                <key>spriteSourceSize</key>
                <string>{247,232}</string>
                <key>textureRect</key>
                <string>{{151,382},{247,232}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 11 12 0 10 11 7 0 6 8 9 0 8 0 7 3 4 5 2 3 5 2 5 6 1 2 6 0 1 6 0 9 10</string>
                <key>vertices</key>
                <string>130 61 196 117 205 174 247 218 247 232 209 232 155 196 78 209 0 138 0 100 17 31 50 0 109 0</string>
                <key>verticesUV</key>
                <string>281 443 347 499 356 556 398 600 398 614 360 614 306 578 229 591 151 520 151 482 168 413 201 382 260 382</string>
            </dict>
            <key>niutou_attack_down7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,288}</string>
                <key>spriteSourceSize</key>
                <string>{193,288}</string>
                <key>textureRect</key>
                <string>{{1,264},{193,288}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 16 17 13 14 15 0 15 16 13 11 12 13 15 11 1 11 15 9 10 11 6 11 5 9 6 7 6 9 11 1 3 4 1 4 5 1 2 3 11 1 5 9 7 8 0 1 15</string>
                <key>vertices</key>
                <string>154 45 132 81 172 62 193 83 193 113 162 151 138 263 113 288 74 288 63 277 12 192 40 151 0 151 0 79 25 37 85 31 119 0 154 0</string>
                <key>verticesUV</key>
                <string>155 309 133 345 173 326 194 347 194 377 163 415 139 527 114 552 75 552 64 541 13 456 41 415 1 415 1 343 26 301 86 295 120 264 155 264</string>
            </dict>
            <key>niutou_attack_down8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{228,247}</string>
                <key>spriteSourceSize</key>
                <string>{228,247}</string>
                <key>textureRect</key>
                <string>{{240,231},{228,247}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 19 20 18 0 1 17 1 14 16 14 15 16 17 14 14 2 13 8 10 11 8 11 12 8 9 10 8 12 13 2 7 8 3 6 7 6 3 4 6 4 5 2 3 7 2 8 13 14 1 2 17 18 1 18 19 0</string>
                <key>vertices</key>
                <string>175 59 136 73 146 104 167 102 205 66 228 78 228 119 185 144 185 178 228 232 180 247 86 247 75 236 43 172 38 137 0 137 0 78 26 52 123 19 164 0 202 0</string>
                <key>verticesUV</key>
                <string>415 290 376 304 386 335 407 333 445 297 468 309 468 350 425 375 425 409 468 463 420 478 326 478 315 467 283 403 278 368 240 368 240 309 266 283 363 250 404 231 442 231</string>
            </dict>
            <key>niutou_death1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,4.5}</string>
                <key>spriteSize</key>
                <string>{258,237}</string>
                <key>spriteSourceSize</key>
                <string>{370,500}</string>
                <key>textureRect</key>
                <string>{{250,1},{258,237}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>11 13 14 11 12 13 10 0 3 8 9 10 7 8 10 10 11 0 6 7 10 6 4 5 6 10 4 10 3 4 0 1 2 0 2 3 0 11 14</string>
                <key>vertices</key>
                <string>268 192 285 200 307 255 279 339 155 364 109 340 104 299 65 281 49 239 74 213 116 236 121 223 78 206 110 137 245 127</string>
                <key>verticesUV</key>
                <string>469 66 486 74 508 129 480 213 356 238 310 214 305 173 266 155 250 113 275 87 317 110 322 97 279 80 311 11 446 1</string>
            </dict>
            <key>niutou_death2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,12.5}</string>
                <key>spriteSize</key>
                <string>{280,293}</string>
                <key>spriteSourceSize</key>
                <string>{370,500}</string>
                <key>textureRect</key>
                <string>{{1,1},{280,293}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 1 12 1 11 12 10 11 7 9 10 7 9 7 8 6 7 11 5 2 3 5 3 4 2 5 6 1 2 6 1 6 11 0 12 13</string>
                <key>vertices</key>
                <string>262 141 244 207 265 232 319 241 339 276 291 306 222 339 168 354 108 384 59 326 64 285 92 234 114 163 233 91</string>
                <key>verticesUV</key>
                <string>204 51 186 117 207 142 261 151 281 186 233 216 164 249 110 264 50 294 1 236 6 195 34 144 56 73 175 1</string>
            </dict>
            <key>niutou_death3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,-1.5}</string>
                <key>spriteSize</key>
                <string>{222,237}</string>
                <key>spriteSourceSize</key>
                <string>{370,500}</string>
                <key>textureRect</key>
                <string>{{265,616},{222,237}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 13 14 11 12 4 11 9 10 11 4 9 12 13 4 7 8 9 9 4 7 4 5 6 4 6 7 0 3 4 0 2 3 0 1 2 0 4 13</string>
                <key>vertices</key>
                <string>265 185 283 184 309 225 294 270 232 293 264 370 207 360 187 341 127 370 97 284 88 275 87 220 113 169 178 133 235 133</string>
                <key>verticesUV</key>
                <string>443 668 461 667 487 708 472 753 410 776 442 853 385 843 365 824 305 853 275 767 266 758 265 703 291 652 356 616 413 616</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>niutou_other.png</string>
            <key>size</key>
            <string>{511,1244}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8897775394603d6f286cefaa59c3bdcf:24c978433d6b611b6f873180883f55c3:c4d886b7a47f715a255f04ab54e020c2$</string>
            <key>textureFileName</key>
            <string>niutou_other.png</string>
        </dict>
    </dict>
</plist>
