<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>niutou_attack1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{236,196}</string>
                <key>spriteSourceSize</key>
                <string>{236,196}</string>
                <key>textureRect</key>
                <string>{{1,514},{236,196}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>9 10 11 7 8 9 5 9 11 6 7 9 5 6 9 0 5 11 3 0 1 0 3 4 3 1 2 0 4 5</string>
                <key>vertices</key>
                <string>197 50 236 119 236 138 178 196 120 196 61 174 0 98 0 69 6 55 29 48 59 0 122 0</string>
                <key>verticesUV</key>
                <string>198 564 237 633 237 652 179 710 121 710 62 688 1 612 1 583 7 569 30 562 60 514 123 514</string>
            </dict>
            <key>niutou_attack2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{237,188}</string>
                <key>spriteSourceSize</key>
                <string>{237,188}</string>
                <key>textureRect</key>
                <string>{{219,649},{237,188}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 13 14 10 13 0 10 11 12 7 9 10 7 8 9 6 7 10 5 6 10 10 12 13 4 10 0 4 0 1 4 1 2 4 2 3 10 4 5</string>
                <key>vertices</key>
                <string>145 26 198 41 237 96 237 135 184 188 46 188 2 109 0 102 0 77 9 66 64 75 42 43 76 3 92 0 144 0</string>
                <key>verticesUV</key>
                <string>364 675 417 690 456 745 456 784 403 837 265 837 221 758 219 751 219 726 228 715 283 724 261 692 295 652 311 649 363 649</string>
            </dict>
            <key>niutou_attack3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{257,213}</string>
                <key>spriteSourceSize</key>
                <string>{257,213}</string>
                <key>textureRect</key>
                <string>{{167,205},{257,213}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 18 19 16 17 18 13 14 15 12 13 15 11 12 15 11 15 16 0 16 18 11 16 8 11 9 10 11 8 9 4 6 7 4 5 6 1 4 7 4 1 2 4 2 3 16 1 7 16 0 1 16 7 8</string>
                <key>vertices</key>
                <string>150 36 178 44 212 27 239 54 224 75 257 82 257 124 204 177 120 208 101 213 92 213 64 199 0 123 0 96 2 92 38 101 73 80 50 53 77 0 148 0</string>
                <key>verticesUV</key>
                <string>317 241 345 249 379 232 406 259 391 280 424 287 424 329 371 382 287 413 268 418 259 418 231 404 167 328 167 301 169 297 205 306 240 285 217 258 244 205 315 205</string>
            </dict>
            <key>niutou_attack4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{267,214}</string>
                <key>spriteSourceSize</key>
                <string>{267,214}</string>
                <key>textureRect</key>
                <string>{{195,1},{267,214}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>16 17 18 12 15 16 14 15 12 1 16 18 14 12 13 11 12 16 9 7 8 9 10 11 9 11 7 1 7 11 1 3 7 3 4 5 3 5 6 1 2 3 7 3 6 1 11 16 0 1 18</string>
                <key>vertices</key>
                <string>202 40 187 65 241 66 242 112 267 127 267 185 235 205 194 193 172 214 150 214 67 179 89 116 43 96 6 94 0 88 0 41 89 40 102 0 162 0</string>
                <key>verticesUV</key>
                <string>397 41 382 66 436 67 437 113 462 128 462 186 430 206 389 194 367 215 345 215 262 180 284 117 238 97 201 95 195 89 195 42 284 41 297 1 357 1</string>
            </dict>
            <key>niutou_attack5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{242,251}</string>
                <key>spriteSourceSize</key>
                <string>{242,251}</string>
                <key>textureRect</key>
                <string>{{1,1},{242,251}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>13 16 17 13 15 16 13 14 15 0 12 13 12 1 11 9 10 11 7 8 9 12 0 1 5 6 7 4 5 7 4 7 9 4 9 11 1 3 4 1 2 3 1 4 11 0 13 17</string>
                <key>vertices</key>
                <string>74 45 112 54 159 39 190 70 194 121 242 146 242 181 217 193 198 251 130 251 69 225 69 139 45 94 0 39 0 12 9 3 15 0 42 0</string>
                <key>verticesUV</key>
                <string>75 46 113 55 160 40 191 71 195 122 243 147 243 182 218 194 199 252 131 252 70 226 70 140 46 95 1 40 1 13 10 4 16 1 43 1</string>
            </dict>
            <key>niutou_attack6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,234}</string>
                <key>spriteSourceSize</key>
                <string>{184,234}</string>
                <key>textureRect</key>
                <string>{{1,701},{184,234}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>15 16 17 14 15 17 12 13 14 14 1 3 12 10 11 12 14 10 6 7 10 8 9 10 7 8 10 6 10 14 14 3 6 3 4 5 6 3 5 1 2 3 1 14 17 0 1 17</string>
                <key>vertices</key>
                <string>148 20 121 55 145 59 164 114 184 129 184 178 124 194 89 231 79 234 48 234 38 194 8 184 0 147 0 112 28 79 18 27 29 0 85 0</string>
                <key>verticesUV</key>
                <string>149 721 122 756 146 760 165 815 185 830 185 879 125 895 90 932 80 935 49 935 39 895 9 885 1 848 1 813 29 780 19 728 30 701 86 701</string>
            </dict>
            <key>niutou_attack7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{223,267}</string>
                <key>spriteSourceSize</key>
                <string>{223,267}</string>
                <key>textureRect</key>
                <string>{{1,245},{223,267}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>13 14 15 11 13 15 11 12 13 8 10 11 11 2 5 8 9 10 5 8 11 6 7 8 5 6 8 2 4 5 2 3 4 11 1 2 0 11 15 11 0 1</string>
                <key>vertices</key>
                <string>147 72 189 114 197 155 223 164 223 214 136 235 71 267 47 267 49 206 0 216 0 146 50 106 18 56 53 6 60 0 108 0</string>
                <key>verticesUV</key>
                <string>148 317 190 359 198 400 224 409 224 459 137 480 72 512 48 512 50 451 1 461 1 391 51 351 19 301 54 251 61 245 109 245</string>
            </dict>
            <key>niutou_attack8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{209,228}</string>
                <key>spriteSourceSize</key>
                <string>{209,228}</string>
                <key>textureRect</key>
                <string>{{226,422},{209,228}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>12 14 15 12 13 14 11 12 15 11 0 1 8 10 11 8 9 10 5 8 11 6 7 8 5 6 8 2 4 5 2 3 4 1 2 5 1 5 11 0 11 15</string>
                <key>vertices</key>
                <string>105 4 177 83 186 126 209 139 209 189 116 206 68 228 36 228 33 196 0 179 0 163 13 94 0 52 0 20 20 0 98 0</string>
                <key>verticesUV</key>
                <string>331 426 403 505 412 548 435 561 435 611 342 628 294 650 262 650 259 618 226 601 226 585 239 516 226 474 226 442 246 422 324 422</string>
            </dict>
            <key>niutou_attack9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{209,228}</string>
                <key>spriteSourceSize</key>
                <string>{209,228}</string>
                <key>textureRect</key>
                <string>{{226,422},{209,228}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>12 14 15 12 13 14 11 12 15 11 0 1 8 10 11 8 9 10 5 8 11 6 7 8 5 6 8 2 4 5 2 3 4 1 2 5 1 5 11 0 11 15</string>
                <key>vertices</key>
                <string>105 4 177 83 186 126 209 139 209 189 116 206 68 228 36 228 33 196 0 179 0 163 13 94 0 52 0 20 20 0 98 0</string>
                <key>verticesUV</key>
                <string>331 426 403 505 412 548 435 561 435 611 342 628 294 650 262 650 259 618 226 601 226 585 239 516 226 474 226 442 246 422 324 422</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>niutou_attack.png</string>
            <key>size</key>
            <string>{463,936}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6e31cdef7a4890c5bf0514bf18d26646:1597e98e1d210d284d51ba1e730adad1:ca17dce2ef4e5d2af07f542e1030c64f$</string>
            <key>textureFileName</key>
            <string>niutou_attack.png</string>
        </dict>
    </dict>
</plist>
