<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wuqi_attack1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,222}</string>
                <key>spriteSourceSize</key>
                <string>{175,222}</string>
                <key>textureRect</key>
                <string>{{128,257},{175,222}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>9 10 11 8 9 11 7 8 1 3 4 5 5 6 7 5 1 2 7 1 5 5 2 3 0 1 8 0 8 11</string>
                <key>vertices</key>
                <string>95 25 134 72 175 144 175 160 129 222 75 222 0 159 0 117 14 82 13 6 27 0 44 0</string>
                <key>verticesUV</key>
                <string>223 282 262 329 303 401 303 417 257 479 203 479 128 416 128 374 142 339 141 263 155 257 172 257</string>
            </dict>
            <key>wuqi_attack10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{185,160}</string>
                <key>spriteSourceSize</key>
                <string>{185,160}</string>
                <key>textureRect</key>
                <string>{{514,228},{185,160}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 12 13 11 0 10 11 12 0 0 8 9 0 1 8 5 6 7 4 5 7 2 3 4 2 4 7 1 2 7 8 1 7 0 9 10</string>
                <key>vertices</key>
                <string>54 31 126 31 185 90 185 133 90 160 69 160 61 155 66 131 40 105 32 74 0 42 0 11 11 0 48 0</string>
                <key>verticesUV</key>
                <string>568 259 640 259 699 318 699 361 604 388 583 388 575 383 580 359 554 333 546 302 514 270 514 239 525 228 562 228</string>
            </dict>
            <key>wuqi_attack11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,155}</string>
                <key>spriteSourceSize</key>
                <string>{196,155}</string>
                <key>textureRect</key>
                <string>{{454,71},{196,155}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>10 12 13 10 11 12 8 10 13 8 9 10 8 5 7 5 6 7 8 4 5 8 3 4 8 0 3 0 2 3 0 1 2 0 8 13</string>
                <key>vertices</key>
                <string>166 31 196 61 196 89 174 123 118 154 113 155 91 155 89 153 60 115 0 79 0 37 11 7 31 0 73 0</string>
                <key>verticesUV</key>
                <string>620 102 650 132 650 160 628 194 572 225 567 226 545 226 543 224 514 186 454 150 454 108 465 78 485 71 527 71</string>
            </dict>
            <key>wuqi_attack12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,156}</string>
                <key>spriteSourceSize</key>
                <string>{157,156}</string>
                <key>textureRect</key>
                <string>{{658,363},{157,156}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>7 10 11 9 7 8 9 10 7 3 4 5 5 6 7 3 5 7 2 3 7 0 2 7 0 1 2 0 7 11</string>
                <key>vertices</key>
                <string>90 3 157 44 157 89 123 140 107 156 66 156 44 139 38 100 0 62 0 42 42 0 66 0</string>
                <key>verticesUV</key>
                <string>748 366 815 407 815 452 781 503 765 519 724 519 702 502 696 463 658 425 658 405 700 363 724 363</string>
            </dict>
            <key>wuqi_attack13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,231}</string>
                <key>spriteSourceSize</key>
                <string>{161,231}</string>
                <key>textureRect</key>
                <string>{{254,290},{161,231}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>11 12 13 1 10 11 5 8 9 5 6 7 5 7 8 2 5 9 1 9 10 3 4 5 2 3 5 1 2 9 0 1 11 0 11 13</string>
                <key>vertices</key>
                <string>42 3 72 51 136 77 161 120 161 145 138 160 115 231 80 231 37 188 60 107 53 79 0 26 0 0 38 0</string>
                <key>verticesUV</key>
                <string>296 293 326 341 390 367 415 410 415 435 392 450 369 521 334 521 291 478 314 397 307 369 254 316 254 290 292 290</string>
            </dict>
            <key>wuqi_attack2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,167}</string>
                <key>spriteSourceSize</key>
                <string>{128,167}</string>
                <key>textureRect</key>
                <string>{{755,1},{128,167}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>6 8 9 6 7 8 1 2 6 4 5 6 3 4 6 2 3 6 1 6 9 0 1 9</string>
                <key>vertices</key>
                <string>128 36 128 61 87 160 65 167 35 167 12 157 0 115 0 9 29 0 73 0</string>
                <key>verticesUV</key>
                <string>883 37 883 62 842 161 820 168 790 168 767 158 755 116 755 10 784 1 828 1</string>
            </dict>
            <key>wuqi_attack3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,170}</string>
                <key>spriteSourceSize</key>
                <string>{142,170}</string>
                <key>textureRect</key>
                <string>{{523,395},{142,170}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>5 8 9 5 7 8 5 6 7 1 5 9 1 2 4 2 3 4 1 4 5 0 1 9</string>
                <key>vertices</key>
                <string>142 40 142 78 89 170 36 170 14 148 0 65 0 37 11 19 43 0 81 0</string>
                <key>verticesUV</key>
                <string>665 435 665 473 612 565 559 565 537 543 523 460 523 432 534 414 566 395 604 395</string>
            </dict>
            <key>wuqi_attack4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,191}</string>
                <key>spriteSourceSize</key>
                <string>{134,191}</string>
                <key>textureRect</key>
                <string>{{649,126},{134,191}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>6 7 8 1 6 8 1 2 5 4 5 2 4 2 3 1 5 6 0 1 8</string>
                <key>vertices</key>
                <string>134 51 134 65 83 182 73 191 60 191 0 138 0 40 28 0 83 0</string>
                <key>verticesUV</key>
                <string>783 177 783 191 732 308 722 317 709 317 649 264 649 166 677 126 732 126</string>
            </dict>
            <key>wuqi_attack5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{143,229}</string>
                <key>spriteSourceSize</key>
                <string>{143,229}</string>
                <key>textureRect</key>
                <string>{{406,273},{143,229}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 11 12 0 10 11 7 9 10 7 8 9 3 6 7 5 3 4 3 5 6 7 2 3 7 0 2 0 1 2 0 7 10</string>
                <key>vertices</key>
                <string>128 51 143 51 143 84 115 158 115 229 74 229 59 214 78 150 27 159 0 117 0 52 34 0 101 0</string>
                <key>verticesUV</key>
                <string>534 324 549 324 549 357 521 431 521 502 480 502 465 487 484 423 433 432 406 390 406 325 440 273 507 273</string>
            </dict>
            <key>wuqi_attack6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,263}</string>
                <key>spriteSourceSize</key>
                <string>{137,263}</string>
                <key>textureRect</key>
                <string>{{1,229},{137,263}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>9 10 11 1 9 11 8 1 7 7 1 5 5 6 7 4 1 2 2 3 4 4 5 1 8 9 1 0 1 11</string>
                <key>vertices</key>
                <string>137 31 137 89 97 263 52 263 65 225 50 156 16 152 0 101 0 58 51 5 71 0 80 0</string>
                <key>verticesUV</key>
                <string>138 260 138 318 98 492 53 492 66 454 51 385 17 381 1 330 1 287 52 234 72 229 81 229</string>
            </dict>
            <key>wuqi_attack7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{231,228}</string>
                <key>spriteSourceSize</key>
                <string>{231,228}</string>
                <key>textureRect</key>
                <string>{{1,1},{231,228}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>3 13 14 3 12 13 11 9 10 5 7 8 5 6 7 5 8 9 11 4 5 11 5 9 4 11 12 4 12 3 2 3 14 0 1 2 0 2 14</string>
                <key>vertices</key>
                <string>231 15 231 50 203 71 120 52 137 86 120 177 146 211 112 228 91 228 67 205 0 196 0 119 38 53 109 0 144 0</string>
                <key>verticesUV</key>
                <string>232 16 232 51 204 72 121 53 138 87 121 178 147 212 113 229 92 229 68 206 1 197 1 120 39 54 110 1 145 1</string>
            </dict>
            <key>wuqi_attack8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,266}</string>
                <key>spriteSourceSize</key>
                <string>{129,266}</string>
                <key>textureRect</key>
                <string>{{363,1},{129,266}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 12 13 8 9 10 7 8 10 5 6 7 5 7 10 10 3 4 10 4 5 2 3 10 2 10 11 2 11 12 1 2 12 0 1 12</string>
                <key>vertices</key>
                <string>129 50 100 76 52 91 74 135 114 176 114 219 79 266 63 266 0 222 0 213 12 187 13 62 40 0 129 0</string>
                <key>verticesUV</key>
                <string>492 51 463 77 415 92 437 136 477 177 477 220 442 267 426 267 363 223 363 214 375 188 376 63 403 1 492 1</string>
            </dict>
            <key>wuqi_attack9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,267}</string>
                <key>spriteSourceSize</key>
                <string>{145,267}</string>
                <key>textureRect</key>
                <string>{{220,1},{145,267}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 13 14 2 12 13 3 12 2 8 9 10 4 7 8 5 6 7 4 5 7 4 8 10 3 4 10 3 11 12 11 3 10 1 2 13 0 1 14</string>
                <key>vertices</key>
                <string>137 64 111 88 64 98 57 121 120 177 145 233 145 257 95 267 68 267 23 260 15 170 0 116 0 88 35 0 126 0</string>
                <key>verticesUV</key>
                <string>357 65 331 89 284 99 277 122 340 178 365 234 365 258 315 268 288 268 243 261 235 171 220 117 220 89 255 1 346 1</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>wuqi_attack.png</string>
            <key>size</key>
            <string>{884,566}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:da0d5e0374430c3bb7c7b7b1b832d7c4:2b8b4123afdf8a396f20154e2a3a539b:f3f29909a283260e602beebfafc752a2$</string>
            <key>textureFileName</key>
            <string>wuqi_attack.png</string>
        </dict>
    </dict>
</plist>
